ALTER TABLE public.profiles ADD COLUMN height TEXT; ALTER TABLE public.profiles ADD COLUMN remarks TEXT; ALTER TABLE public.profiles ADD COLUMN extra_photo_1 TEXT; ALTER TABLE public.profiles ADD COLUMN extra_photo_2 TEXT;
